.flex {
    display: flex;
}
.flex {
	justify-content: space-between;
	 align-items: center;
	border: 1px solid #ccc;
	padding: 20px;
	div {
		width: 150px;
		box-sizing: boder-box;
	}
	.flex1 {
		height: 120px;
		border: 1px solid #f00;
	}
	.flex2 {
		height: 100px;
		border: 1px solid #f00;
	}
	.flex3 {
		height: 40px;
		border: 1px solid #f00;
	}
	.flex4 {
		height: 200px;
		border: 1px solid #0f0;
	}
}

@media screen and (max-width: 640px) {
	.flex {
    	display: flex;
	}
	.flex {
		justify-content: space-around;
		align-items: flex-start;
		border: 1px solid #ccc;
		padding: 20px;
		div {
			width: 150px;
			box-sizing: boder-box;
		}
		.flex1 {
			height: 120px;
			border: 1px solid #f00;
		}
		.flex2 {
			height: 100px;
			border: 1px solid #f00;
		}
		.flex3 {
			height: 40px;
			border: 1px solid #f00;
		}
		.flex4 {
			height: 200px;
			border: 1px solid #0f0;
		}
	}
}

@media screen and (max-width: 600px) {
	.flex {
    	display: flex;
	}
	.flex {
		justify-content: space-between;
		align-items: flex-start;
		border: 1px solid #ccc;
		padding: 20px;
		box-sizing: boder-box;
		flex-flow: wrap;
		div {
			width: 150px;
			box-sizing: boder-box;
			margin-bottom: 20px;
		}
		.flex1 {
			height: 120px;
			border: 1px solid #f00;
		}
		.flex2 {
			height: 100px;
			border: 1px solid #f00;
		}
		.flex3 {
			height: 40px;
			border: 1px solid #f00;
		}
		.flex4 {
			height: 200px;
			border: 1px solid #0f0;
			order: -1;
		}
	}
}